
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

body {
  font-family: 'Open Sans', sans-serif;
}

.div_helpline_number {
    float: right;
}
p.top_helpline_number {
    font-size: 12px;
}
.desktop_unique_section{display: block;}
.mobile_unique_section{display: none;}

/*GREY HEADING CODE START HERE*/
.header_color{
  background: #2a2e36;
  padding: 6px 0px;
}
.white-text-heading {
    color: #fff !important;
    margin-left: 6px;
    font-size: 13px;
}
.custom_mobile_class{display: none;}
.custom_mobile_class2{display: block;}
/*GREY HEADING CODE END HERE*/

.white-text {color: #000 !important; margin-right: 10px;}
.white-text img
{
  float: left;
}
.testimonial-icon{text-align: center;}
.testimonial-img-class{top: 70px;}
.navbar-toggle {
    background-color: #ec1c23;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #ec1c23;
}
.navbar-inverse .navbar-toggle {
    border-color: #ec1c23;
}
.banner
{
  width: 100%;
  background: url('../images/banner.png');
  background-repeat: no-repeat;
  padding: 110px 0px;
  float: left;
  background-size: cover;
}
.banner_pgdbf
{
  width: 100%;
  background: url('../images/pgdbf/Banking-and-finance_Image.png');
  background-repeat: no-repeat;
  padding: 110px 0px;
  float: left;
  background-size: cover;
}
.banner_pgdba
{
  width: 100%;
  background: url('../images/pgdba/Business-Administration_Image.png');
  background-repeat: no-repeat;
  padding: 110px 0px;
  float: left;
  background-size: cover;
}
.banner_pgdbcl
{
  width: 100%;
  background: url('../images/pgdbcl/Corporate-Law_Image.png');
  background-repeat: no-repeat;
  padding: 110px 0px;
  float: left;
  background-size: cover;
}
.banner_pgdcrm
{
  width: 100%;
  background: url('../images/pgdcrm/customer-management_Image.png');
  background-repeat: no-repeat;
  padding: 110px 0px;
  float: left;
  background-size: cover;
}
.banner_pgdhrm
{
  width: 100%;
  background: url('../images/pgdhrm/Human-Resource_Image.png');
  background-repeat: no-repeat;
  padding: 110px 0px;
  float: left;
  background-size: cover;
}
.banner_pgdim
{
  width: 100%;
  background: url('../images/pgdim/Insurance-Management_Image.png');
  background-repeat: no-repeat;
  padding: 110px 0px;
  float: left;
  background-size: cover;
}
.banner_pgdeim
{
  width: 100%;
  background: url('../images/pgdeim/Export-Import_Image.png');
  background-repeat: no-repeat;
  padding: 110px 0px;
  float: left;
  background-size: cover;
}
.banner_pgdib
{
  width: 100%;
  background: url('../images/pgdib/International-Busines_Image.png');
  background-repeat: no-repeat;
  padding: 110px 0px;
  float: left;
  background-size: cover;
}
.banner_pgditm
{
  width: 100%;
  background: url('../images/pgditm/IT-Management_Image.png');
  background-repeat: no-repeat;
  padding: 110px 0px;
  float: left;
  background-size: cover;
}
.banner_pgdptt
{
  width: 100%;
  background: url('../images/pgdptt/Pre-Primary-Training_Image.png');
  background-repeat: no-repeat;
  padding: 110px 0px;
  float: left;
  background-size: cover;
}
.banner_pgdrm
{
  width: 100%;
  background: url('../images/pgdrm/Retail-Management_Image.png');
  background-repeat: no-repeat;
  padding: 110px 0px;
  float: left;
  background-size: cover;
}
.banner_pgdscm
{
  width: 100%;
  background: url('../images/pgdscm/Supply-Chain-Management_Image.png');
  background-repeat: no-repeat;
  padding: 110px 0px;
  float: left;
  background-size: cover;
}
.banner_pgdtw
{
  width: 100%;
  background: url('../images/pgdtw/Technical-Writing_Image.png');
  background-repeat: no-repeat;
  padding: 110px 0px;
  float: left;
  background-size: cover;
}
.banner_cpgdba
{
  width: 100%;
  background: url('../images/cpgdba/Corporate-business-management_Image.png');
  background-repeat: no-repeat;
  padding: 110px 0px;
  float: left;
  background-size: cover;
}
.nav-margin
{
  margin-top:40px;
}
.col-half-offset{
    margin-left:4.166666667%
}
.margin-top-class{margin-top: 24px;}
.margin-top-class-schedule{margin-top: 50px;}
.margin-top-buttons{margin-top: 30px;}
.margin-top-buttons img
{
  float: left;
  margin-right: 60px;
}
.black-text-box{
    background: #1e1e1e;
    width: 100%;
    padding: 15px 0px;
    color: #fff;
    float: left;
    font-size: 18px;
    font-weight: 600;

}
.ul-banner-text {
    line-height: 30px;
    color: #fff;
    margin-bottom: 20px;
}
.heading-banner-box {
    font-size: 18px !important;
    text-align: left;
    color: #ed1c24;
    margin-top: 20px;
    margin-left: 20px;    
}
h3{color: #000;}
p{font-size: 16px;}
.program-heading{
  font-size: 24px;
/*   margin:45px 0px;
float: left; */
color: #fff;
font-weight: 600;
background-color: #ec1c23;
padding: 1px 15px;}
.icon-text{font-size: 18px; color: #1e1e1e; margin-top:10px;}
.centered{text-align: center;}
.lign-left{float: left;}
.align-right{float: right;}
.overlay { 
  color:#fff;
  position:absolute;
  z-index:12;
  top:50%;
  left:0;
  width:100%;
  text-align:center;
}
.margintop_35{margin-top: 35px;}


.faqHeader {
    font-size: 27px;
    margin: 20px;
}

.graybox
{
  background: #d0d0d0;
  width: 100%;
  padding-bottom: 70px;
padding-top: 35px;
}
.whitebox
{
  width: 100%;
  padding: 0px 30px 30px;


}


.img-inline
{
  float: left; margin-right: 20px;
}
.navbar-brand
{
  height:auto;
  padding: 5px 15px;

}
.navbar-bordered 
{
  margin-left:16%;
}
.navbar-bordered  > li > a
{
  border-right:1px solid #000;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top:15px;
  margin-bottom: 15px;
  font-weight:600;

}


.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    background-color: transparent;
}
.navbar-custom
{
    background-color: #fff !important;
    border-color: #fff !important;
    margin-bottom:0px;
}
.navbar
{
  border-radius: 0px;

}
.carousel-caption-custom
{
  left:4%;
  right:4%;
  text-shadow:none;
  
}
.banner-form
{
  
  padding:10px 30px;
  font-size: 11px !important;
color:#3c3c3c;
text-align: left;
font-family: 'Open Sans', sans-serif !important;
}
.banner-form h4
{
    font-size: 2em;
    font-weight: 600;
    /* padding: 15px; */
    /* text-align: center; */
    color: #ed1c23;
}



.banner-form input[type="text"]
{
  border-radius:0px;
  background: #e5e5e5;
  border:1px solid #a8a8a8;
}
.banner-form select
{
  border-radius:0px;
  background: #e5e5e5;
  border:1px solid #a8a8a8;
}
.banner-form textarea
{
  border-radius:0px;
  background: #e5e5e5;
  border:1px solid #a8a8a8;
  height: 34px;
}
.banner-form input::placeholder
{
  color:#3c3c3c;
    font-size: 12px !important;
}
.banner-form textarea::placeholder
{
  color:#3c3c3c;
    font-size: 12px !important;
}
.banner-form button
{
background: #ec1c23;
color: #fff;
border: 0px;
padding: 8px 25px;
text-transform: uppercase;
border:1px solid #a8a8a8;

}
.banner-form .form-group
{
  margin-bottom: 15px;
}
.banner-form .checkbox-inline
{
  font-size: 10px;
  color: #000;
}
.banner-btn
{
width: 100%;
margin-top: 85px;
text-align: left;
}
.banner-btn img
{
  position: unset !important;
  min-height: auto !important;
}
.btn-white
{
background: #fff;
    color: #ec1c23;
    padding: 7px 20px;
    border-radius: 0px;
    margin-top: 30px;
    margin-right: 30px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;

}
.gray-bg
{
  background: #ececec;
}
.banner-form2
{
  background: #fff;
  padding:70px 0px 0px;
  font-size: 11px !important;
  border-radius: 10px;
color:#3c3c3c;
text-align: center;
font-family: 'Open Sans', sans-serif !important;
border-radius: 0px;
margin-top:40px;


}
.banner-form2 h4
{
  line-height: 25px;
font-weight: 600;
font-size: 16px;
margin-top: 20px;
}
.banner-form2 h3
{
  color: #3c3c3c;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
.banner-form2 button
{
background: #ec1c23;
color: #fff;
border: 0px;
padding: 8px 25px;
text-transform: uppercase;
margin: 0 auto;
border-radius: 10px;
font-size: 16px;
font-weight: bold;

}
.banner-form2 hr
{
  border-top:2px solid #e5e5e5;
}
.bg-blue
{
  background: #ec1c23 !important;
}

 .img-div
{
  width: 100%;
  float: left;
  clear: both;
}
.btn-div
{
  width: 100%;
  clear: both;
  float: left;
}
.content1 img
{
  width: 100%;
margin-top: -465px;

}

.content1 h3
{

  width: 100%;
padding: 15px 0px;
font-size: 1.8em;
font-weight: 600;

}
.content1 .heading1
{
  margin-left:200px;
    background: #e5e5e5;

}
.section-p
{
  padding-top: 40px;
  padding-bottom: 40px;
  clear: both;
}
.section-p h3
{
  width: 100%;
  padding: 15px 0px;
  font-size: 1.8em;
  font-weight: 600;
  /*   background: #e5e5e5; */
  padding:15px;
  text-align: center;  
}
.section-p .acc-panel
{
  padding: 40px 0px 0px;

}
.section-p .acc-panel ul
{
  margin: 0px;
  padding: 0px;
}
.section-p .quote-img
{
vertical-align: bottom;
margin-right: 15px;
}
.section-p h5
{
  font-weight: bold;
}
/*TESTIMONIAL SECTION P START HERE*/
.section-p .testimonial-p
{
  padding-top: 15px;
}
.section-p .testimonial-p h3
{
  width: 100%;
  padding: 15px 0px;
  font-size: 1.8em;
  font-weight: 600;
  /*   background: #e5e5e5; */
  padding:15px;
  text-align: center;  
}
.section-p .acc-panel .testimonial-p
{
  padding: 40px 0px 0px;

}
.section-p .acc-panel ul .testimonial-p
{
  margin: 0px;
  padding: 0px;
}
.section-p .quote-img .testimonial-p
{
vertical-align: bottom;
margin-right: 15px;
}
.section-p .testimonial-p h5
{
  font-weight: bold;
}
/*TESTIMONIAL SECTION P END HERE*/
footer
{
  background: #1e1e1e;
  color: #fff;
  text-align: center;
  padding:10px 0px;
}
footer span
{
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 2px solid #fff;
  border-radius: 50%;
  float: right;
  margin-left:5px

}
 .testimonial
 {

 }
 .mobile-appointmentbtn {
    display:none;
}

.faq-section {
 background-color: #f2e9e9;
padding-bottom: 60px;
padding-top: 60px;
width: 100%;

}

.text_underline{
  margin-top: 10px;
  margin-bottom: 20px;
  border: 0;
  border-top: 5px solid #d72a21;
  width: 8%;
}

.text_underline_about{
  margin-top: 10px;
  margin-bottom: 45px;
  border: 0;
  border-top: 5px solid #d72a21;
  width: 8%;
}
.section-about {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: -30px;
}
.line_height30 {
    font-size: 16px;
    line-height: 30px;
}
.margin_bottom70{
  margin-bottom: 70px;
}
.margin_top70{
  margin-top: 70px;
}
.dis-red-b
{
visibility:hidden;
}
/*----------------------accordian-----------------------------*/

#accordion{
    padding-left: 80px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
#accordion:before{
    content: "";
width: 2px;
height: 100%;
background: #919191;
position: absolute;
top: 0;
left: 7px;
z-index: -1;
}
#accordion .panel{
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 15px;
    border-bottom: 1px solid #919191;
}
#accordion .panel-heading{
    padding: 0;
    border: none;
    border-radius: 0;
}
#accordion .panel-title a{
  display: block;
padding: 10px 30px 15px 0;
background: #f2e9e9;
font-size: 16px;
font-weight: bold;
 color: #ec1c23;
position: relative;
transition: all 0.5s ease 0s;
text-decoration: none;

}
#accordion .panel-title a.collapsed
{
 
color:#000;
}
#accordion .panel-title a:before{
content: "";
font-family: "Font Awesome 5 Free";
font-weight: 900;
width: 15px;
height: 15px;
line-height: 40px;
border-radius: 50%;
background: #cad5c2;
text-align: center;
font-size: 17px;
color: #004e89;
position: absolute;
top: 0;
left: -80px;

   background: #ec1c23;
}
#accordion .panel-title a.collapsed:before{
    content: "";
background: #919191;
 }

#accordion .panel-title a:after {
    font-family: 'FontAwesome';
    content: "\f105";    
    float: right;
    color: #222222;
    font-size:28px;
}
#accordion .panel-title a.collapsed:after {    
    content: "\f107";
      color: #222222;  
        font-size: 28px;  
}

#accordion .panel-body{
    padding: 10px 15px;
    border: none;
    font-size: 14px;
    line-height: 25px;
    background: #f2e9e9;    
}
/*----------------------------------------------------------------*/
/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 1;
bottom: 0px;
  padding-bottom: 0px;
  position: unset;
  padding-top: 90px;
}

/* Declare heights because of positioning of img element */
.carousel .item {
height: 550px;
}
.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  /* min-height: 400px; */
}
/* CHROME CSS
-------------------------------------------------- */
@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {

.banner-form
{
    top: 5px;
  }
}
/* RESPONSIVE CSS
-------------------------------------------------- */
/* (1366x768) WXGA Display */
@media  screen and (max-width: 1366px) {
    /* insert styles here */
.banner{background-position: right;}
.banner_pgdbf{background-position: right;}
.banner_pgdba{background-position: right;}
.banner_pgdbcl{background-position: right;}
.banner_pgdcrm{background-position: right;}
.banner_pgdhrm{background-position: right;}
.banner_pgdim{background-position: right;}
.banner_pgdeim{background-position: right;}
.banner_pgdib{background-position: right;}
.banner_pgditm{background-position: right;}
.banner_pgdptt{background-position: right;}
.banner_pgdrm{background-position: right;}
.banner_pgdscm{background-position: right;}
.banner_pgdtw{background-position: right;}
.banner_cpgdba{background-position: right;}    
}
@media (min-width: 768px) {

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
    margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
  }
  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
}
@media only screen
    and (min-device-width : 768px)
    and (max-device-width : 1024px)
    {
        .navbar-bordered {
    margin-left: 0%;
}
.white-text {
    color: #000 !important;
    margin-right: 0px;
}
.banner-form {
    padding: 0px 15px;
}
.btn-white
{
  padding: 7px 15px;
  margin-right: 10px;
  font-size: 12px;
}

.carousel .item
{
  height: 459px;
}

}



@media (max-width: 667px) {
.desktop_unique_section{display: none;}
.mobile_unique_section{display: block;}  
/*GREY HEADING CODE START HERE*/
.custom_mobile_class{display: block;}
.custom_mobile_class2{display: none;}
/*GREY HEADING CODE END HERE*/

  #apply img
  {
    margin: 0 auto;
  }

  .black-text-box
  {
    font-size: 14px;
  }

  .banner {
 padding: 205px 0px 10px;
background-size: cover;
background-position-x: -85px;
}
.banner_pgdbf{
   padding: 193px 0px 10px;
background-size: cover;
background-position-x: -54px;
   
}
  .margin-top-class-schedule {
    margin-top: 10px;
}
.margin-top-buttons {
    margin-top: 10px;
}
.banner_pgdba
{
    /*padding: 40px 0px;*/
    background-size: cover;
     background-position: center;
    padding: 163px 0px 10px;
}
.banner_pgdbcl
{
   padding: 195px 0px 10px;
background-size: cover;
background-position-x:-37px;
}
.banner_pgdcrm
{
   padding: 240px 0px 10px;
background-size: cover;
background-position-x:-138px;
background-position-y:-54px;
background-color: #757575;
}
.banner_pgdhrm
{
   padding: 200px 0px 10px;
background-size: cover;
background-position-x:-94px;

}
.banner_pgdim
{
padding: 226px 0px 10px;
background-size: cover;
background-position-x: -56px;
background-position-y: -87px;
background-color: #0f0f0f;
}
.banner_pgdeim
{
 padding: 225px 0px 10px;
background-size: cover;
background-position-x:-296px;
background-position-y:-140px;
background-color: #8c8c8c;
}
.banner_pgdib
{
   padding: 230px 0px 10px;
background-size: cover;
background-position-x:-135px;
}
.banner_pgditm
{
  padding: 215px 0px 10px;
background-size: cover;
background-position-x: 20%;
}
.banner_pgdptt
{
     padding: 215px 0px 10px;
background-size: cover;
background-position-x:-135px;
}
.banner_pgdrm
{
       padding: 265px 0px 10px;
    background-size: cover;
    background-position-x:-300px;
}
.banner_pgdscm
{
    padding: 40px 0px;
    background-size: cover;
    background-position: unset;
}
.banner_pgdtw
{
 padding: 200px 0px 10px;
background-size: cover;
background-position-x:-140px;
}
.banner_cpgdba
{
   padding: 144px 0px 10px;
background-size: cover;
background-position-x:-140px;
}
  .testimonial-img-class {
    top: 0;
  }
  .testimonial-icon {
      text-align: center;
      margin-top: 24px;
  }
  .carousel-caption
  {
    bottom: 40px;
  }
  .testimonial img
{
  margin: 0 auto;
  text-align: center;
}
  
  .navbar-brand > img {

    display: block;
    width: 55%

    }
      .navbar-brand
      {
        width: 80%;
      }
      .content1 img
      {
        margin-top:0px;
      }
     
      .m-form
      {
        display: block !important;
      }
      .carousel-caption
      {
        position: relative;
        left: 0;
        right: 0;
      }
      .btn-white
      {
        font-size: 12px;
        margin-right: 10px;
        padding:5px 10px;
      }
      .carousel .item {
    height: auto;
}
.content1 .heading1
{
  margin-left:0px;
}
.content1 h3
{
  font-size: 1.3em;
}
.section-p h3
{
  font-size: 1.3em;
}
.section-p .testimonial-p h3
{
  font-size: 1.3em;
}
.program-heading
{
  font-size: 14px;
}
.icon-text
{
  font-size: 14px;
}
#accordion .panel-title a:before
{
  left: -33px;
  top: 10px;
}
#accordion
{
  padding-left: 33px;
}
#accordion .panel-title a
{
  font-size: 13px;
  padding: 10px 0px 15px 0;
}
#accordion .panel-title a:after, #accordion .panel-title a.collapsed:after 
{
  font-size: 15px;
}
#accordion::before
{
    top: 10px;
}
.section-p .quote-img
{
  width: 35px;
}
.section-p
{
  padding-top: 20px;
  font-size: 14px;
}
.section-p .quote-img .testimonial-p
{
  width: 35px;
}
.section-p .testimonial-p
{
  padding-top: 20px;
  font-size: 14px;
}
 p
{
   font-size: 14px;
}

footer span
{
  float: none;
}
.redbox1 img
{
  width: 80%;
  margin: 0 auto;

}
.redbox2 img
{
  width:37%;

}
.redbox2 
{
  font-size:14px;

}
.m-marg
{
  margin-bottom: 20px;
}
.navbar-bordered > li > a
{
  border-right: 0px;

}
.mobile-appointmentbtn .btn {
    background-color:#333 !important;
    border: none;
    display: block;
    border-radius: 0px;
    color: #fff !important;
    padding: 7px 0;
    font-size: 18px;
    text-transform: uppercase;
   
}

.mobile-appointmentbtn {
   display: block;
    margin: 0 auto;
    padding: 0;
    position: fixed;
    bottom: 0;
    left: auto;
    right: auto;
    z-index: 999999;
    text-align: center;
    width: 100%;
}
.modal-header {
    padding: 5px;
    border-bottom: 0px;
    }
    .modal-body
    {
    padding: 25px 15px;
  }
  .margin-top-buttons img {
    float: left;
    margin-right: 25px;
    width: 40%;
}
.dis-red-b
{
display: none;
}
.section-p .heading-name {
    font-size: 1.4em !important;
}

}

/*KETAN CSS START HERE*/
.margin_bottom50 {margin-bottom: 50px;}
.borderradius50{border-radius: 50%;}
.margin_top50{margin-top: 50px;}
.width50{max-width: 50%;}
.section-p .heading-name{font-size: 2.8em;}
.section-p .acc-panel .padding12{margin: 0px; padding: 12px;}
.white-text2
{
  margin-right: 0px !important;
}
.less-marg > li > a
{
padding: 0px 8px !important;
margin-top:15px;
margin-bottom: 15px;
}
/*KETAN CSS END HERE*/